<%= form_with(model: @plumber,
              method: :post,
              url: plumbers_path,
              data: { turbo: false }) do |f| %>
  <% if @plumber.errors.any? %>
    <h3>The following errors prevented the plumber from being saved:</h3>
    <ul>
      <% @plumber.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="mb-3">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :vehicle, class: "form-label" %>
    <%= f.text_field :vehicle, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :address, class: "form-label" %>
    <%= f.select :address_id,
                 options_for_select(@addresses&.map { |s| [s.inline_address, s.id] }),
                 { prompt: "--" },
                 { class: "form-control" } %>
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
<% end %>